@charset "UTF-8";
.login-button {
	width: 100px;
	height: 30px;
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
}
.login-button:hover {
	background: #5599FF;
}